.formInput {

    display: flex;
    border-top: 1px solid #D3D3D3;
    height: 8%;
}

.messageInput {
    border: none;
    width: 100%;
    padding-left: 5%;
    font-size: 1em;
}

input:focus, textarea:focus, select:focus{
    outline: none;
}

.sendButton {
    color: #fff !important;
    text-transform: uppercase;
    text-decoration: none;
    background: white;
    display: inline-block;
    cursor: pointer;
    border: none;
    transition: 0.2s;
    margin-right: 2%;
}
.sendButton:hover svg{
    fill: #545454;
}
